.summary {}

html {
    height: 100%
}

* {
    margin: 0;
    padding: 0;
}

.topbar {

    background-image: rgb(12, 9, 121);
    background-image: linear-gradient(90deg, rgba(12, 9, 121, 1) 0%, rgb(7, 195, 126) 48%);
    height: 50px;
    width: 100%;
}

.off_set {
    padding-left: 20px;
}

.skills {
    display: flex;
    flex-direction: row;
}

.experience {
    color: yellow;
}




.header {
    font-size: 72px;
    background: -webkit-linear-gradient(left, rgb(12, 136, 138) 0%, rgb(12, 168, 80) 48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 500%;
}

.header_2 {
    font-size: 200%;
}

body {
    color: rgb(163, 163, 163);
    background-color: rgb(9, 9, 37);
    font-family: sans-serif
}

.long_card {
    box-shadow: 0 4px 8px 0 rgba(152, 116, 188, 0.2);
    transition: 0.3s;
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

.long_card:hover {
    box-shadow: 0 16px 32px 0 rgba(155, 155, 155, 0.2);

}

.icon_space_text {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(152, 116, 188, 0.2);
    transition: 0.3s;
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;

}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(155, 155, 155, 0.2);
}

.info {
    text-align: left;
}

.container {
    padding: 2px 16px;
}

.current {}


.industry {}

.technology {
    display: flex;
    flex-direction: row;
}

.academia {}

.row {
    display: flex;
    column-gap: 10%;
}

.col {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.intro_background {}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.company_name {
    font-weight: bold;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.icons:hover,
.icons:visited,
.icons:active {
    color: inherit;
    text-decoration: none;
}